.flexbox{
    display:flex;
    justify-content: space-between;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
}
.box1{
    border: 4px solid red;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    width: 23%;
    font-style: italic;
    padding: 4px;
}
.box2{
    border: 5px solid red;
    border-radius: 30px;
    background: black;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;
    height: 45px;
    padding: 2px 20px 10px 100px;
    position: absolute;
    left: 250px;
    top: 35px;
}
.box3{
    border: 6px solid red;
    background-color: black;
    color: white;
    width: 300px;
    text-align: center;
    font-style: italic;
    border-radius: 30px;
    padding: 5px 40px 3px 60px;
    font-size: 1.6rem;
}
.flexbox2{
    display:flex;
    justify-content:space-around;
    margin:50px;
    position:relative;
}
.circle{
    border: 5px solid rgb(122, 120, 120);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    align-items: center;
    text-align: center;
    line-height: 45px;
    margin-top:100px;
    background-color:rgb(93, 186, 160);
    padding-top:30px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}
.form{
    text-align:center;
    border: 8px dashed red;
    height: 600px;
    width: 350px;
    background-color: white;
    color:red;
    
}
.menu{
    display:flex;
    justify-content:center;
    align-items:center;    
}
.menulabel{
    border: 8px solid red;
    border-radius: 30px;
    width: 500px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    background-color:black;
    color:white;
}

.flexbox3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.starters{
    border:2px solid green;
    border-radius:30px;
    width:300px;
    text-align:center;
    background-color: aquamarine;
}
.southindian{
    border:2px solid green;
    border-radius:30px;
    width:300px;
    text-align:center;
    background-color: aquamarine;
}
.indiankitchen{
    border:2px solid green;
    border-radius:30px;
    width:300px;
    text-align:center;
    background-color: aquamarine;
}
.flexbox4{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:50px;
}
.ricesalad{
    border:2px solid green;
    border-radius:30px;
    width:300px;
    text-align:center;
    background-color: aquamarine;
}
.tandoori{
    border:2px solid green;
    border-radius:30px;
    width:300px;
    text-align:center;
    background-color: aquamarine;
}
.beverages{
    border:2px solid green;
    border-radius:30px;
    width:300px;
    text-align:center;
    background-color: aquamarine;
}
h1{
    font-size:2.5rem;
}
.bgcontainer{
    width:100%;
    height:100%;
    border:5px groove green;
    background-image: url(./images.jpg);
    box-sizing: border-box;
    background-size:cover;
}
.hr1{
    background-color: white;
   height:1px;
    margin-left: 6px;
    margin-right: 6px;

}
.hr2{
    background-color: white;
    height:1px;
    margin-left: 6px;
    margin-right: 6px;
}
.firstname{
    text-align:center;
}
.lastname{
    text-align:center;
}
.age{
    text-align:center;
}
.email{
    text-align:center;
}
.date{
    text-align:center;
}
